/* Navbar */
.navbar {
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 100000;
}
/* Home */
.home {
  height: 100%;
  
}

/* Header */
.header-home {
  background-image: url("../../../images/landing.jpg");
  color: white;
  height: 100vh;
  width: 100%;
  font-family: "Sniglet", cursive;
  
}
.header-title {
  text-align: center;
  font-size: 3.5em;
  word-wrap: break-word;
  padding: 5% 0%;
}
.github {
  color: white;
  text-decoration: underline;
}
@media only screen and (max-width: 700px) {
  /* Header */
  .header-home {
    color: azure;
    height: 100vh;
    background-position-x: 50%;
    background-position-y: 200px;
    background-size: 900px;
  }
  .header-title {
    font-size: 2em;
    padding: 20% 0%;
  }
}
@media only screen and (max-width: 1300px) and (min-width:700px){
  /* Header */
  .header-home {
    color: azure;
    height: 100vh;
    background-position-x: 50%;
    background-position-y: 60px;
    background-size: 1200px;
  }
  .header-title {
    font-size: 3em;
  }
}
