/* Projects */
a {
}
.projects {
  z-index: 1;
  background-color: #f28f3b;
  color: azure;
  width: 100%;
  font-family: "Inconsolata", monospace;
}
.project-title {
  font-size: 2.5em;
  min-width: 19%;
  font-weight: 500;
  color: white;
  text-decoration: underline;
}
.project-github {
  font-size: 2.5em;
  float: right;
}
.project-desc {
  margin: 1% 2.5%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}
.project-image {
}
.project-preview {
  float: right;
  max-width: 30vw;
  max-height: 30vh;
}
.indv-project {
  margin: 2.5% 0 0 0;
}

@media only screen and (max-width: 800px) {
  /* Projects */
  .project-preview {
    display: block;
    min-height: 150px;
    height: auto;
    min-width: 100%;
    float: none;
  }
  .project-image {
    display: block;
    float: none;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .project-desc {
    display: block;
    margin: 1% 10%;
    font-size: 1em;
    text-align: center;
  }
  .project-title {
    display: block;
    font-size: 1.5em;
    min-width: 10%;
  }
}
